# CMHW
allow system_server vibeamp_sysfs:file rw_file_perms;

# Battery capacity reading
allow system_server sysfs_battery_supply:dir search;
allow system_server sysfs_battery_supply:file { read getattr open };
